*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
__pycache__/
*.pyc
*.pyo
local.properties
/app/build
/core/build
/core/*/build
/feature/build
/feature/*/build
server/.coverage
